<h2>Welcome to the Gympal login page!</h2>


<% if flash[:notice] %>
   <h4><%= flash[:notice] %></h4>
<% end %>

<%= form_tag('/sessions') do %>
   <%= label_tag 'Email:' %>
   <%= text_field_tag :email %>
    <%= label_tag 'Password:' %>
   <%= text_field_tag :password %>
   <%= submit_tag 'Login' %>
<% end %>  
<br>
<%= button_to 'Log in with Google!', '/auth/google_oauth2' %> 
<br>
<br>
<%= button_to 'Sign up', '/register', method: :get  %>