<h2>Login</h2>

<% if flash[:notice] %>
   <%= flash[:notice] %>
<% end %>

<%= form_tag('/sessions') do %>
   <%= label_tag 'Email:' %>
   <%= text_field_tag :email %>
    <%= label_tag 'Password:' %>
   <%= text_field_tag :password %>
   <%= submit_tag 'Login' %>
<% end %>  
<br>
<%= link_to 'Sing up', controller: "users", action: "new" %>