
<% if session[:user_id] %>

Welcome: <%= @user.email %>

<br>
<br>

   <% if @user.muscle_groups.empty? %>
     <h3>You don't have any muscle groups</h3>
     <%= link_to 'Cereate a muscle group', new_muscle_group_path %>
   <% else %> 
     <%= link_to 'Your muscle groups', user_muscle_groups_index(@user.id)  %>
   <% end %>
 <br>
  <%= link_to 'Muscle_groups', muscle_groups_path %>


<br>
<br>


<% else %>
  <h2>You are not logged in:</h2>
    <%= button_to 'Log in with Facebook', '/auth/facebook' %>
  or 
    <%= link_to('with Email and Password', link: '/sessions/new' ) %>
<% end %>
