<h2>Muscle Groups Index</h2>
<ul>
<% @muscle_groups.each do |mg|%>
<h4>Group name: <%= mg.name.capitalize %></h4>
   <li><%= mg.muscle_1 %></li>
   <li><%= mg.muscle_2 %></li>
   <li><%= mg.muscle_3 %></li>
   <li><%= mg.muscle_4 %></li>
   <br>
   <br>
<% end %>
<br>
<br>
<%=link_to 'Create new group', new_muscle_group_path %>
</ul>