<%= form_for(@muscle_group) do |f|%>




<h4>Create Muscle Group</h4><br>
   <%= f.label :name %><br>
   <%= f.text_field :name %><br>
   <%= f.label :muscle_1 %><br>
   <%= f.text_field :muscle_1 %><br>
   <%= f.label :muscle_2 %><br>
   <%= f.text_field :muscle_2 %><br>
   <%= f.label :muscle_3 %><br>
   <%= f.text_field :muscle_3 %><br>
   <%= f.label :muscle_4 %><br>
   <%= f.text_field :muscle_4 %><br>
   <br>
  
  <h4>Create Routine</h4>
  <%= f.fields_for :routine, Routine.new do |r|%>  
    <%= r.label :name %>
    <%= r.text_field :name %>
    <%= r.label :instruction, 'Instructions' %>
    <%= r.text_area :instruction %>
    <%= r.label :time %>
    <%= r.text_field :time %>
    <%= r.label :set_1 %>
    <%= r.text_field :set_1 %>
    <%= r.label :set_2 %>
    <%= r.text_field :set_2 %>
    <%= r.label :set_3 %>
    <%= r.text_field :set_3 %>
  <% end %>

   <%= f.submit %>

<% end %>