<h4>Muscle Group Name: <%= @muscle_group.name.capitalize %></h4>
<br>

Muscles:

<ol>
 <li><%= @muscle_group.muscle_1 %></li>
 <li><%= @muscle_group.muscle_2 %></li>
 <li><%= @muscle_group.muscle_3 %></li>
 <li><%= @muscle_group.muscle_4 %></li>
</ol>

Routines:

<% @muscle_group.routines.each do |r| %>

   <%= r.name %>

<% end %>
